# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ project files
.idea/
*.iml
out/

# Eclipse files
.classpath
.project
.settings/

# Maven target directory
target/

# OS-specific files
.DS_Store
Thumbs.db

# Lombok generated
lombok.config
